<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IContactService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.100.6:8090/ContactService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IContactService"
                contract="ServiceReference.IContactService" name="NetTcpBinding_IContactService" />
        </client>
    </system.serviceModel>
</configuration>
