
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<br />
<h3>Enter your data : </h3>
<br />
<form action="/4/Dict/AddSave" method="post">
    <div style="width: 100px">Name : </div><input type="text" name="name" />
    <br />
    <div style="width: 100px">Number : </div><input type="text" name="number" />
    <br />
    <input type="submit" value="Add new contact" />
</form>