@model List<InterfaceDLL.Contacts>

<h2>Phonebook</h2>
<br />
<br />
<table border="1" id="table">
    <caption style="width: 200px; text-align: center; font-size: 20px;">All contacts</caption>
    <tr>
        <th>Name</th>
        <th>Number</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="@item.id"><td>@item.name</td><td>@item.number</td></tr>
    }
</table>