<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ContactsServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.100.6:1337/lab7b/ContactsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ContactsServiceSoap"
                contract="WS.ContactsServiceSoap" name="ContactsServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>